html{
	color: white;
	background-image: url("waterbest.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}



h2 {
	text-align: left;

    color: black;
    font-size: 30px;
    top: 0px;
    margin-left: 60px;
    padding: 5px;
    text-transform: uppercase;
    /*border-bottom: 2px solid ;*/
}



p{
	text-align: center;
	color: #0A4F5A;
	background-color: #BFE6F4;
	font-size: 25px;
	margin-left: 80px;
	margin-right: 300px;
	padding: 5px;
	border-width: 50px;

	border-radius: 8px;
	border-color: #BFE6F4;
	font
}



#dams {


	padding-left: 50px;
	text-align: left;
}

a:link, a:visited {
	font-size: 30px;
  background-color: white;
  color: black;
  border: 2px cyan;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
	font-size: 30px;
  background-color: cyan;
  color: white;
}


#damimg {
float: right;    
 margin: 0 0 0 15px;
}
